/.idea/
/Flag4j.iml

/target/classes/
/target/generated-sources/
/target/generated-test-sources/
/target/maven-archiver/
/target/maven-status/
/target/surefire-reports/
/target/test-classes/

/target/jacoco.exec